.react-datepicker__navigation {
  height: 75px;
}

.nextui-c-fqZfBB {
  text-align: center;
  border-radius: 5px;
  border-color: black;
  background: rgba(13, 13, 13, 0.1);
}

.react-datepicker__input-container input {
  text-align: center;
}
